.user_new_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#user_name,#user_email,#user_password,#user_password_confirmation {
  width: 400px;
  height: 50px;
  padding: 10px;
}

.user_new_btn {
  text-align: center;
  padding: 20px 0px;
}